{% extends 'base.html' %}
{% block content %}
  
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            {% if object.pk %}
               Редактирование {{object}}
            {% else %}
               Создать рассылку 
            {% endif %}
          </h6>
        </div>
        <div class="card-body">
          <form class="user" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if object.pk %}
              <button class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Сохранить</span>
              </button>
              <a href="{% url 'mailing:mailings' %}" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Назад</span>
              </a>
            {% else %}
              <button class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Сохранить</span>
              </button>
              <a href="{% url 'mailing:mailings' %}" class="btn btn-warning btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span class="text">Отмена</span>
              </a>
            {% endif %}
          </form>
        </div>
      </div> 
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}
